@import url("https://fonts.googleapis.com/css2?family=Judson&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.maindiv {
  border: 1px solid salmon;
}

.cart-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Judson", serif;
  background-color: #EEEEEE;
font-size: 1.1rem;
}

.item-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: max-content;
}

.item-body > * {
  margin: 10px;
}

.item-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card img {
  width: 100px;
  height: 100px;
}

.item-card > * {
  padding-left: 5px;
  padding-right: 5px;
}

.checkout-summary {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 10px 0 10px 0;
}

.summary-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
}

#place-order-btn {
  width: 200px;
  height: 30px;
  cursor: pointer;
}

#coupon-input{
  width: 200px;
  height: 30px;
}

#coupon-btn{
  width: 100px;
  height: 30px;
  margin-left: 25px;
}

.combined-cart {
  margin-top: 3%;
  height: 80%;
  overflow-y: auto;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border: 0.1px solid gray;
  background-color: #e5e5e5;
}

.item-card{
  min-width: 300px;
}